* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            
}

body {
	background: #3f3f3f;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}

#app {
	padding: 0 20em;
}

.two-column-div {
	display: flex;
	justify-content: space-around;
	margin: 26px 10px;
}

.two-column-div__column-div {
	flex-grow: 1;
	margin: 0 11px;
}

.one-column-div {
	margin: 0 16px;
}

.button-div {
	display: flex;
	justify-content: center;
}

.form-input {
	background: #3f3f3f;
    color: #fff;
    border: 3px solid #636262;
    padding: 7px 13px;
    font-size: 14px;
    border-radius: 4px;
	width: 100%;
	margin: 16px 0px;
	transition: all 0.3s;
}

.form-input:hover {
	border-color: rgb(190, 190, 190);
}

.form-button {
	background: #3f3f3f;
	color: #fff;
	border: 3px solid #636262;
	/* font-size: 14px; */
	border-radius: 4px;
	padding: 7px 13px;
	transition: all 0.3s;
}

.form-button:hover {
	border-color: #fff;
    background: gray;
}